
/* Styles */

/*------ Home Page-----*/
.introImage{
	background-image: url('../images/desk.jpg');
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100vh;
    width:100%
 }

.white_text_color{
	color: white;
}
.black_text_color{
	color: white;
}

.mapLabel{
    color:white;
    font-weight:bold;	
}

.LabelPaddingLeft{
	padding-left:91%
}

.LabelPaddingLeftKor{
	padding-left:90.5%
}
.title_padding{
	padding-top:15%;
}
/*-----About Me-----*/
.AboutMe{
	background:#e8f1fb;
	background-size:cover;
	width:100%;
	height:100%;
	z-index: 3;
}

.article{
	background:#484848;/*rgba(0,0,0.5,.5)*/;
	color:white;
	background-size:cover;
}

.headerset{
	padding-top:250px;
	box-sizing: border-box;
}

#title h2{
	transition: all 3s;
  	transition-timing: ease-in-out;
}

.h_paddingtop{
	padding-top:0px !important;
	padding-left: 75%;
	transform: rotate(22deg);
}

.h_paddingleft{
	padding-left: 75%;
	transform: rotate(22deg);
}

.headerset h2{
	font-size: 42px;
	margin-top:400px;
	font-weight: bold;
    padding-left: 70%;
}

.headerset h1{
	font-size: 72px;
	font-weight: bold;
	color: white;
	transform: rotate(-40deg);
}

/*----- Contacts-----*/ 
.mycontact{
	height:700px;
}

.contactPaddingBottom{
	padding-bottom:60px;
}

.rowsetting{
	padding:50px;
}

.mycontact h2{
	font-size:30px;
}
 
.mycontact h3{
	font-size:20px;
}

.myContactMargin{
	margin-bottom:50px;
}

.icon_style{
	border-radius: 50% !important;
	background:#ffcc00;
	height:90px;
	width:90px;
	color:white;
}

/*----Project-----*/

.iconMargin{
	margin-top:20px;
}

.rowsetting h3{
	padding:10px;
}

.MyProject{
	background:#e8f1fb;
	background-size:cover;
	width:100%;
	height:100%;
    z-index: 3;
}

.mapIconStyle{
	height:3%;
	width:3%;
	padding-right:1%;
}

/*Contact form */
.mapstyle{
	width:100%; 
	height:370px;
	margin-top:20px;
	
}

.contact-form{
	background:rgba(0,0,0,.6);
	color:white;
	background-size:cover;
}

.ContactMe{
	background:#e8f1fb;
	background-size:cover;
	width:100%;
	height:100%;
    z-index: 3;
}

.modal-dialog {
   margin-right: 0;
   margin-top:150px ;
}

.divPadding{
	
	padding-top:50px;
	
}
.text_fontcolor{
	color: #CC6600;
}

/* Projects */
.imagestyle img{
	width:300px; 
	height:300px;
}

.fontFamily{
	 font-family: "Callibri"
}

.fontFamily-kr{
	 font-family: "Noto Sans KR"
}

.data_images img{
	width:100%; 
	height:450px;
	margin:0px;
}

.list-group-item.active {
  background-color: #328cc1;
  border-color: #328cc1;
  font-weight: bold;
  color: #fff;
}

.list-group-item {
  color: gray;
}

.list-group-item:hover {
  color: black;
}

.paddingTop{
	padding-top: 25px;
}

.paddingTopResume{
	padding-top: 0px;
	padding-left : 44%;
    color: #5534eb;
}

.paddingTopTitle{
	padding-top: 15px;
}

.paddingBottom{
	padding-bottom: 15px;
}

.fontSize{
	font-size: 16px; 
}

.mapMarginRight{
	width:95%;
}

